<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Pastelería</title>
</head>
<body>
    <h1>Editar Pastelería</h1>
    <form action="/bakery/<%= bakery._id %>" method="POST">
        <label for="name">Nombre:</label>
        <input type="text" id="name" name="name" value="<%= bakery.name %>" required>
        <br>
        <label for="description">Descripción:</label>
        <textarea id="description" name="description"><%= bakery.description %></textarea>
        <br>
        <button type="submit">Actualizar</button>
    </form>
</body>
</html>
